@media( max-width: 477px){
    .contact_section1_div{
        width: 300px;
        height: 500px;
    }
    .contact_section1_figure{
        flex-direction: column;
    }

}
@media( max-width: 415px){
    .about_section1{
        margin-top: 70px;
    }
    .about_section1_h{
        font-size: 24px;
        line-height: 24px;
    }
    .about_section1_form{
        width: 100%;
        gap: 10px;
    }
    .about_section1_button{
        padding: 10px 20px 10px 20px;
    }
    
}


@media( max-width: 350px){
    header{
      gap: 5px;
        width: 100%;
    }
    .section1{
        margin-top: 50px;
    }
    .section1_h{
        font-size: 18px;
        line-height: 25px;
    }
    .section2{
        padding: 0%;
    }
    .hover_img{
        width: 140px;
        height: 130px;
    }
    .section2_button{
        padding: 5px;
        font-size: 14px;
    }
    .section4_h{
        font-size: 25px;
        line-height: 30px;
    }
    .section4_input{
        width: 180px;
    } 
    /* about section 1 */
    .about_section2_main_div{
        gap: 5px;
    }
    .about_section2_button{
        width: 100px;  
    }
    /* about section 2 */
    .about_section2_div{
     width: 100%;
    }
    article{
        padding:120px 0px;
    }
    .about_section2_figure{
        column-gap: 100px;

    }
    .about_section2_img{
        width: 230px;
        height: 180px;
    }
    .number_none{
        display: none;
    }
    
    /* contact section 1 */
    .contact_section1_div{
        width: 100%;
        height: 500px;
    }
    .contact_section1_h{
        font-size: 32px;
    }
    .contact_section1_button{
        width: 100%;
    }
    
    .contact_section1_figure{
        column-gap: 20px;
    }

}